.container {
  text-align: center;
}


.box {
  width:80px;
  height: 80px;
  border: .08em solid black;
  display: inline-block;
  line-height: 80px;
  font-size: 60px;
  font-family: Poppins,sans-serif;
  font-weight: 900;
  color: white;
}

.box:hover {
  cursor: pointer;
  background-color: rgba(255,255,255, 0.2);
}


.board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}
